.profile {
  /* max-width: 40%; */
  margin: 20px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;
  border-radius: 6px;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem;
}

.avatar {
  display: flex;
  max-width: 30%;
  border-radius: 50%;
  border: 5px dotted black;
}

.userName {
  margin-bottom: 0.5rem;
  font-weight: bold;
  font-size: 2.5rem;
}

.userTag,
.userLocation {
  margin: 0.5rem;
  font-size: 2rem;
  color: #8a8b8e;
}

.stats {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0;
  padding: 0;
  list-style: none;
}

.statsItem {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #d3d5e3;
  background-color: rgba(241, 241, 241, 0.833);
}

.statsItem:not(:last-child) {
  border-right: 1px solid #d3d5e3;
}

.label {
  padding-bottom: 10px;
  color: #8a8b8e;
}
.quantity {
  font-weight: bold;
  border-radius: 20px;
}
